@import url(./_style/grey/logo_style_grey.css);
@import url(./_style/_main/logo_style_main.css);

.logo {
  text-transform: uppercase;
  font-size: 34px;
  font-weight: 500;
  transition: all 0.3s linear;
}