@import url(../blocks/body/body.css);
@import url(../blocks/main/main.css);
@import url(../blocks/header/header.css);
@import url(../blocks/logo/logo.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/title/title.css);
@import url(../blocks/container/container.css);
@import url(../blocks/partners/partners.css);
@import url(../blocks/popular/popular.css);
@import url(../blocks/news/news.css);
@import url(../blocks/button/button.css);
@import url(../blocks/cards/cards.css);


*,
*::before,
*::after {
  box-sizing: border-box;
}

h1, h2, h3, p, li, ul {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

